@import "tailwindcss";

@font-face {
  font-family: 'Libertinus Mono';
  src: url('/fonts/LibertinusMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('/fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Schibsted Grotesk';
  src: url('/fonts/SchibstedGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.body-font {
  font-family: 'Schibsted Grotesk', monospace;
}

.heading-font {
  font-family: 'Libre Baskerville', monospace;
  line-height: 3rem;
}

.subheading-font {
  font-family: 'Libertinus Mono', monospace;
}

/*  overriding default tailwind styles here, which defaults to width 100% on mobile */
@media (width <= 40rem) {
  .container {
    max-width: 94vw;
  }
}

.container-large {
  max-width: 94vw;
}

.nextjs-toast {
  display: none !important;
}